/*
** Main Menu styles
*/
.nav-wrap {
  display: flex;
  //vertical align all nav content (logo, nav, header buttons etc)
  align-items: center;
  justify-content: space-between;
  @media(min-width: 768px) and (max-width: 991px) {
    justify-content: flex-end;
  }
  //header includes that goes right after menu and before top-includes
  & > .top-nav + *:not(.top-includes) {
    flex-grow: 100;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Desktop menu - (min 1200px) styles */
@media(min-width: 1200px) {
  //nav .top-nav - wrapper for ul.nav.sf-menu
  .top-nav {
    position: relative;
    flex-grow: 10;
    flex-wrap: nowrap;

    display: flex;
    align-items: center;

    .justify-nav-end & {
      justify-content: flex-end;
    }

    .justify-nav-center & {
      justify-content: center;
    }
  }

  /* menu layout */
  //override .nav - display flex - for correct menuHideExtraElements
  .sf-menu {
    display: block;
    width: 100%;
    text-align: right;
  }
  .sf-menu, .sf-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sf-menu li {
    position: relative;
  }
  .sf-menu li > ul {
    position: absolute;
    display: none;
    top: 100%;
    left: -35%;
    z-index: 99;
  }

  .sf-menu li:hover > ul,
  .sf-menu li.sfHover > ul {
    display: block;
  }

  .sf-menu a {
    display: block;
    position: relative;
  }

  /* menu skin */

  .sf-menu a {

    padding: 6px 0;
    text-decoration: none;
    // /* IE7 */
    zoom: 1;
    transition-property: color, background-color, border-color, padding-top, padding-bottom;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 1;
    font-weight: 400;
  }

  .sf-menu li {
    // /* no need for Supersubs plugin */
    white-space: nowrap;
    // /* ...unless you support IE7 (let it wrap) */
    *white-space: normal;

  }

  //first level
  .sf-menu > li {
    //inline-block for easy change menu items alignment to right, center or left
    display: inline-block;
    position: relative;
  }

  //.nav is added to override .nav-narrow
  .sf-menu.nav > li:first-child > a {
    margin-left: 0;
  }
  .sf-menu.nav > li:last-child > a {

  }

  .sf-menu > li > a {
    //uncomment following if you need border on active and hovered item
    line-height: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 0;
    padding-left: 0;
    margin: 0 25px;
    transition-duration: 0.15s;

    .affix & {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @media (min-width: 1500px) {
      margin: 0 25px;
    }
  }

  .sf-menu > li > a:hover,
  .sf-menu > li.active > a {
    //uncomment following if you need border on active and hovered item
    //border-color: $colorMain;
    color: $colorMain;
  }

  .nav-narrow {
    .sf-menu > li {
      padding: 0;
    }

    .sf-menu > li > a {
      padding-top: 24px;
      padding-bottom: 24px;
      margin-left: 29px;
      margin-right: 29px;
    }

    .sf-menu > li.active > a {
      &:before {
        content: '';
        position: absolute;
        height: 3px;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1;
        background-color: $colorMain2;
      }
    }
  }

  .nav-bordered {
    .sf-menu > li + li:before {
      content: '';
      width: 1px;
      position: absolute;
      left: -2px;
      top: 0;
      bottom: 0;
      background-color: $colorBorderColor;
    }
  }
  .cs {
    .sf-menu > li > a {
      color: $lightColor;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $darkgreyColor;
    }
  }
  .ds {
    .sf-menu > li > a {
      color: $lightColor;
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $colorMain;
    }

  }
  .ls {
    .sf-menu > li > a {
      color: $fontColor;
      &:before{
        content: '';
        position: absolute;
        height: 3px;
        width: 0;
        top: 0;
        left: 50%;
        right: 50%;
        z-index: 1;
        background-color: $colorMain2;
        transition: 0.3s ease-in;
      }
    }
    .sf-menu > li > a:hover,
    .sf-menu > li.active > a {
      color: $colorMain;
    }
    .sf-menu > li > a:hover{
      &:after{
        transform: translateY(-50%) rotate(90deg);

      }
    }
    .sf-menu > li + li:before {
      background-color: $borderColor;
    }
  }

  .sf-menu li:hover,
  .sf-menu li.sfHover {
    /* only transition out, not in */
    -webkit-transition: none;
    transition: none;

  }

  /* second and next levels */
  .sf-menu > li .mega-menu,
  .sf-menu li > ul {
    //for animation
    margin-top: 5px;
    text-align: left;
    list-style: none;
    padding: 40px 0;
    right: auto;
    background-color: $lightColor;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    min-width: 13.9em; /* allow long menu items to determine submenu width */

    *width: 13.9em; /* no auto sub width for IE7, see white-space comment below */
    li{
      padding: 0 40px;
      a{
        padding: 10px 20px 10px 0;
        border-bottom: 1px solid $borderColor;
        width: 100%;
      }
      &:last-child{
        a{

        }

      }
    }
  }
  .sf-menu > li .mega-menu {

  }

  //.nav added to override .ds:not(.btn)
  .sf-menu.nav ul a {
    color: $fontColor;

  }
  .sf-menu .mega-menu ul {
    box-shadow: none;
    padding: 20px 0 !important;
    background: transparent;
  }
  .sf-menu .mega-menu ul a {
    padding-left: 0;
    padding-right: 0;
    width: 100%;

  }
  .sf-menu ul > li + li:before {
  }
  .sf-menu ul a:hover,
  .sf-menu ul li.active > a {
    color: $colorMain;
  }
  /* third level */
  .sf-menu ul ul {
    margin-top: 0;
    //making third level on exact height as second
    top: -70px;

  }

  // styling for both css and generated arrows
  // uncomment for add arrows for ul with sub-menus
  .sf-arrows .sf-with-ul:after {
    font-family: "Font Awesome 5 Free", sans-serif;
    content: "\f054";
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    transition: 0.3s ease-out;
  }
  // styling for right-facing arrows
  // sub-menus
  //.sf-arrows ul li > .sf-with-ul:focus:after,
  //.sf-arrows ul li:hover > .sf-with-ul:after,
  //.sf-arrows ul .sfHover > .sf-with-ul:after {
  //}
  .sf-arrows ul .sf-with-ul:after {
    font-family: "Font Awesome 5 Free", sans-serif;
    content: "\f054";
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;

  }
}

.sf-menu i[class] {
  margin-right: 7px;
  font-size: 1.1em;
}

/* hidden menu items */
@media(min-width: 1200px) {
  .sf-menu .sf-xl-hidden {
    display: none !important;
  }
}

@media(max-width: 1199px) {
  .sf-more-li {
    display: none;
  }
}
