//color schemes
//1
$styleNumber: '';
$colorMain: #07a763;
$colorMain2: #ebc912;
$colorMain3: #073220;
$colorMain4: #7a998c;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;