//color schemes
//3
$styleNumber: '3';
$colorMain: #073220;
$colorMain2: #07a763;
$colorMain3: #ebc912;
$colorMain4: #7a998c;



//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;