:root {
    --dark-red:#cc0033;
    --light-red: #ff3366;
    /* --dark-red-logo:#cc0033;
    --dark-gray-logo:#232323;
    --grey-logo:#2e2e2e;
    --drak-green-theme:#073220;
    --light-green-theme:#7a998c;
    --green-theme:#07a763;
    --green-medium:#07322d;
    --green-light:#28a745 */
}